* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: white;
  box-shadow: 1px 1px 5px 1px #c4c4c4;
}
header div.logo {
  display: flex;
  align-items: center;
  flex: 5 1 400px;
  margin-left: 2rem;
}
header div.logo img {
  width: 6vw;
  height: 6vh;
}
header nav {
  flex: 2 1 400px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav a {
  color: #09777d;
  text-decoration: none;
  font-size: 1.35rem;
}

main section.backImage {
  background-image: url("../Pictures/img02-1.jpg");
  min-height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main section.backImage h3 {
  font-size: 3.5rem;
  color: white;
  margin: 2rem 0rem;
}
main section.backImage button.start {
  background-color: #54b65f;
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
main section.backImage div.filter {
  background-color: rgba(236, 225, 225, 0.2);
  width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
main section.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main section.second h2 {
  font-size: 2rem;
  margin: 2rem;
}
main section.second section.cards {
  display: flex;
  width: 80%;
  min-height: 80vh;
  flex-wrap: wrap;
}
main section.second section.cards div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  flex: 1 1 300px;
}
main section.second section.cards div.card div.image-container {
  overflow: hidden;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}
main section.second section.cards div.card div.image-container img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  transition: all 0.2s;
}
main section.second section.cards div.card div.image-container img:hover {
  transform: scale(1.2);
}
main section.second section.cards div.card h4 {
  font-size: 1.75rem;
  color: #075e40;
}
main section.second section.cards div.card p {
  font-size: 1.2rem;
}
main section.second section.cards div.card a {
  text-decoration: none;
  border-radius: 15px;
  padding: 1rem 1.2rem;
  background-color: #09777d;
  color: white;
  font-size: 1.25rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  justify-content: space-around;
  background-color: rgb(207, 207, 207);
}
footer div.logo {
  display: flex;
  align-items: center;
}
footer div.logo img {
  width: 6vw;
  height: 6vw;
}
footer nav {
  width: 30%;
}
footer nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
footer nav ul li {
  flex-basis: 400px;
}
footer nav ul li p {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}
footer section.links a {
  margin: 0 1rem;
}
footer section.links a img {
  width: 5vw;
  height: 5vw;
}

@media screen and (max-width: 550px) {
  header div.logo {
    margin-left: 0.5rem;
  }
  header div.logo img {
    width: 15vw;
    height: 15vh;
  }
  footer div.logo img {
    width: 15vw;
    height: 15vw;
  }
  footer section.links {
    margin-top: 1rem;
  }
  footer section.links a img {
    width: 10vw;
    height: 10vh;
  }
}
@media screen and (max-width: 700px) {
  main section.second section.cards div.card img {
    width: 40vw;
    height: 40vw;
  }
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(207, 207, 207);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(58, 193, 170);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 97, 105);
}

.login {
  margin: 5% auto;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(148, 202, 249);
  padding-top: 40px;
}
.login h2 {
  color: blue;
  padding-bottom: 2rem;
}
.login .member {
  font-size: 1.2rem;
  padding-bottom: 0.75rem;
}
.login .password {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.login #button {
  width: 80px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

section.backImage2 {
  background-image: url("../Pictures/img06.jpg");
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
section.backImage2 h4 {
  font-size: 2rem;
  color: rgb(27, 8, 243);
  margin: 2.5rem 0rem;
}
section.backImage2 ul {
  list-style-type: none;
}
section.backImage2 ul li {
  color: rgb(254, 253, 253);
  font-size: 1.2rem;
}

section.second2 .sec1 h2 {
  color: #056e3f;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(249, 180, 95);
  padding: 0.5rem;
}
section.second2 .sec2 {
  border: 1px solid blue;
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
section.second2 .sec2 .sec2-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  margin: 20px;
}
section.second2 .sec2 .sec2-1 .but1 {
  width: 200px;
  height: 150px;
  font-size: 2rem;
  background-color: aqua;
  border-radius: 50%;
  display: block;
  margin: auto 20px;
}
section.second2 .sec2 .sec2-1 .tx1 {
  width: 60%;
  margin-left: 20px;
  font-size: 1.5rem;
  margin: auto 20px;
}
section.second2 .sec2-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(42, 26, 194);
  margin: 20px;
}
section.second2 .sec2-2 .but2 {
  width: 200px;
  height: 150px;
  font-size: 1.5rem;
  background-color: rgb(202, 107, 221);
  border-radius: 50%;
  display: block;
  margin: auto 20px;
}
section.second2 .sec2-2 .tx2 {
  width: 60%;
  margin-left: 20px;
  font-size: 1.2rem;
}
section.second2 .sec2-2 .tx2 ul {
  list-style-type: none;
}
section.second2 .sec2-3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(42, 26, 194);
  margin: 20px;
}
section.second2 .sec2-3 .but3 {
  width: 200px;
  height: 150px;
  font-size: 1.5rem;
  background-color: rgb(148, 212, 88);
  border-radius: 50%;
  display: block;
  margin: auto 20px;
}
section.second2 .sec2-3 .tx3 {
  width: 60%;
  margin-left: 20px;
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */